*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}
.some-element::after {
    display: inline;
    content: url(/img/vector_btn.svg)
}

a{
    text-decoration: none;
    color:black;
}
.orange_color{
    color: rgba(242, 88, 34, 1);
}
.content{
    margin: 10px auto;
    padding-left:calc(50% - 660px) ;
    padding-right:calc(50% - 660px) ;
}
.nav{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo_page{
    display:flex;
    gap: 14px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.logo_img{
    display: inline;
}
.logo_text{
    display: inline;
    margin: auto 0 ;
}

.list_menu{
    display: flex;
    list-style: none;
    gap: 34px;
    
}
.link_menu{
    text-decoration: none;
    color: black;
    
}
.link_menu:hover{
    color: rgba(242, 88, 34, 1);
}

.info_top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    margin-top: 103px;
    margin-bottom: 120px;
}
.top_text{
    grid-column: 1;
    grid-row: 1;
    display: block;
}
.top_btn{
    grid-column: 1;
    grid-row: 2/3;
    display: block;
}
.top_img{
    grid-row: 1/3;
}
.title_top{
    margin-left: 41px;
    padding-top: 59px;
    padding-right: 26px;
    font-size: 60px;
    width: 589px;
    margin-bottom: 17px;
}
.subtitle_top{
    color: rgba(136, 136, 136, 1);
    margin-left: 41px;
    font-size: 20px;
    margin-bottom: 37px;
}
.logos_top{
    margin-top: 97px;
    margin-bottom: 96px;
   
}
.top_btn{
    margin-left: 41px;
}
.btn{
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 800;
    border: none;
}
.active_btn{
    background-color:rgba(242, 88, 34, 1);
    color: #fff;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}
.info_btn{
    background-color: #fff;
    color: rgba(170, 170, 170, 1);

}   

.content_info{
    margin-top: 100px;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-info-product{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    gap: 61px;
    
}
.list-info-product:hover{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.btn_link_late{
    margin-top:25px ;
    background-color: #fff;
    border: none;
    font-weight: 800;
}
.h1_info_pro{
    margin-top: 25px;
    margin-bottom: 17px;
}
.p_info_pro{
    line-height:22px;
}
.sub{
    text-align: center;
    
}
.img_sub_list{
    height: 289px;
    margin-bottom: 15px;
}
.h1_sub_list_info{
    text-align: center;
    margin-bottom: 22px;
}
.p_sub_list_info{
    line-height:22px;
    margin:  0 auto;
    width: 310px;
    text-align: center;
    color:rgba(170, 170, 170, 1);
    margin-bottom: 40px;
}
.btn_sub_list_info{
    background-color: rgba(242, 88, 34, 1);
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    padding: 15px 36px 15px 46px;
    color: #fff;
    font-weight:800 ;
}
.logos_top{
    display: flex;
    gap:48px;
}
.info_block{
    text-align: center;
    margin-bottom: 54px;
}
.title_info_block{
    margin-bottom: 10px;
}
.subtitle_info_block{
    line-height:22px;
    margin:  0 auto;
    text-align: center;
    width: 682px;
    color: rgba(102, 102, 102, 1);

}